 *{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(90, 93, 145, 1) 0%, rgba(173, 255, 99, 1) 100%);
    display: flex;
}

#india {
    width: 450px;
    height: 450px;
    background-color: blueviolet;
}

#usa {
    width: 450px;
    height: 450px;
        background-color: seagreen;
    }
